 #label.select2-hidden-accessible+.select2-container .select2-selection,
        #user_owner_id.select2-hidden-accessible+.select2-container .select2-selection,
        #lead_source.select2-hidden-accessible+.select2-container .select2-selection,
        #stage.select2-hidden-accessible+.select2-container .select2-selection {
           border: 1px solid #ced4da;
            border-radius: 0.375rem;
            min-height: 38px;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            background: #fff;
            position: relative;
        }

        #label.select2-hidden-accessible+.select2-container .select2-selection__rendered,
        #user_owner_id.select2-hidden-accessible+.select2-container .select2-selection__rendered,
        #lead_source.select2-hidden-accessible+.select2-container .select2-selection__rendered,
        #stage.select2-hidden-accessible+.select2-container .select2-selection__rendered {
            color: #212529;
        }

        #label.select2-hidden-accessible+.select2-container .select2-selection__arrow,
        #user_owner_id.select2-hidden-accessible+.select2-container .select2-selection__arrow,
        #lead_source.select2-hidden-accessible+.select2-container .select2-selection__arrow,
        #stage.select2-hidden-accessible+.select2-container .select2-selection__arrow {
            height: 38px !important;
            right: 8px !important;
            top: 50% !important;
            transform: translateY(-50%);
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url('../images/download.svg') no-repeat center center;
            background-size: 16px 16px;
        }

        #label.select2-hidden-accessible+.select2-container .select2-selection__arrow,
        #user_owner_id.select2-hidden-accessible+.select2-container .select2-selection__arrow,
        #lead_source.select2-hidden-accessible+.select2-container .select2-selection__arrow,
        #stage.select2-hidden-accessible+.select2-container .select2-selection__arrow {
            height: 38px !important;
            right: 8px !important;
            top: 50% !important;
            transform: translateY(-50%);
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url('../images/download.svg') no-repeat center center;
            background-size: 16px 16px;
        }

        #label.select2-hidden-accessible+.select2-container .select2-selection__arrow b,
        #user_owner_id.select2-hidden-accessible+.select2-container .select2-selection__arrow b,
        #lead_source.select2-hidden-accessible+.select2-container .select2-selection__arrow b,
        #stage.select2-hidden-accessible+.select2-container .select2-selection__arrow b {
            display: none;
        }